<h1>Creatures</h1>
<!-- <p>Find me in app/views/creatures/index.html.erb</p>
 -->

<% @creatures.each do |creature| %>
<div class="creature">
	<h2><%= creature.name %></h2>
	<p><%= creature.description %></p>

	<ul>
	<% for tag in creature.tags %>
		<li> <%= link_to tag.name, tag_path(tag) %>
</li>
	<% end %>
	</ul>

   <%= link_to 'Edit', edit_creature_path(creature) %>
	<%= link_to 'Delete', creature, method: :delete %>
</div>
<% end %>